<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://workwear.qsolution.ru/">Сайт программы</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">О программе</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://workwear.qsolution.ru/novosti/">Новости</a>
            <a class="navbar-item" href="https://workwear.qsolution.ru/stoimost/">Стоимость</a>
            <a class="navbar-item" href="https://pay.qsolution.ru/">Калькулятор</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Социальные сети</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://vk.com/qualitysolution">Вконтакте</a>
            <a class="navbar-item" href="https://www.youtube.com/channel/UC4U9Rzp-yfRgWd2R0f4iIGg">YouTube</a>
            <a class="navbar-item" href="https://github.com/QualitySolution/Workwear">GitHub</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://workwear.qsolution.ru/skachat-programmu/">Скачать</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
